@media screen and (min-width: 992px) {
    .secondaryTemp{
        font-size: 22px;
        margin-top: 15px;
        margin-bottom: 0px;
        text-align: center;
    }
}

/* Portrait Tablets and Large Phones */
@media screen and (min-width:600px)  and (max-width:991px) {
    .secondaryTemp{
        font-size: 23px;
        text-align: center;
    }
}

/* Phones */
@media screen and (max-width:600px){
    .secondaryTemp{
        font-size: 15px;
        text-align: center;
    }
}